node_modules/
dist/
build/
*.tgz
*.suo
*.user
*.sln
*.pidb
*.csproj
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
venv/
.env/
/frontend/dist/
/frontend/build/
/frontend/.next/
.dockerignore
.vscode/
.idea/
*.swp
*.swo
*~